# Telegram
TELEGRAM_BOT_TOKEN=

# Zyxel router
ROUTER_USERNAME=
ROUTER_PASSWORD=
ROUTER_ENCODED_PASSWORD=
ROUTER_ENCRYPTION_KEY=
ROUTER_IV=
ROUTER_ENCRYPTED_CONTENT=
ROUTER_ENCRYPTED_KEY=
# Keep escaped newlines (\\n) when storing the RSA key in .env.
ROUTER_RSA_PUBLIC_KEY=

# TP-Link extender
EXTENDER_PASSWORD=
EXTENDER_R_SU_ENCRYPT=
EXTENDER_T_SU_ENCRYPT=